ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {

}

.gallery-link > .gallery-image:hover,
.gallery-link > .gallery-image:focus {
  transform: scale(1.1);
}

.gallery-link {

}

.gallery-image {   
  width: 360px;
  height: 300px;
  object-fit: cover;
  transition: 1s;
}